<%
    let title, description, action, idForm
    if(register){
         title = 'Registrate'
         description = 'Creá una cuenta y accedé a todas las funciones de Sommoslier'
         action = '/registro'

    }else{
         title = 'Iniciar sesión'
         description = 'Iniciá sesión y accedé a todas las funciones de Sommoslier'
         action = '/login'
    }
    %>

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <title><%=title%></title>
    </head>
    <body class="container">


    <%if(message){%>            
        <div style="background-color: rgb(255, 91, 91);color:white;"><%=message%></div>
    <%}%>

    <main class="form-signin col-md-6 m-auto">
        <form class="m-auto" action="<%=action%>" method="post" enctype="application/x-www-form-urlencoded" id="form-1">
            <h1 class="visually-hidden text-center">Sommoslier</h1>
            <div class="d-block mt-4 mb-3 text-center mx-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="auto"; height="100px"; viewBox="0 0 50 60.56"><defs><style>.cls-1{fill:#933;}.cls-2{fill:#9cc;}</style></defs><title>icono-sommoslier</title><g id="Layer_2" data-name="Layer 2"><g id="títulos"><g id="Logo"><path class="cls-1" d="M47,10.47s-1-5.66-4-8.2A4.61,4.61,0,0,0,42.58,2C39.82.11,36.66,4,39.12,6.21a5.41,5.41,0,0,0,1.94,1.1C46,9.06,47,10.47,47,10.47Z"/><path class="cls-2" d="M16.62,38.63,7.24,58.17v0L7,58.7A3.74,3.74,0,0,1,.51,54.93l.33-.47h0l12.38-17.8a24,24,0,0,1-7-31.74A24.66,24.66,0,0,1,9.6.44h0L9.69.35a1.28,1.28,0,0,1,1.83,1.78.3.3,0,0,1-.08.08,21.48,21.48,0,0,0,3.25,32.34c.48.33,1,.65,1.48,1s1,.57,1.56.82A21.41,21.41,0,0,0,47.49,23.11a1.29,1.29,0,0,1,1.61-.84A1.28,1.28,0,0,1,50,23.76h0a.58.58,0,0,1,0,.14,23.18,23.18,0,0,1-2.24,5.16A24,24,0,0,1,16.62,38.63Z"/><path class="cls-1" d="M45,27.51a20.89,20.89,0,0,1-27,8.33q-.63-.3-1.26-.66L16.44,35c-.5-.3-1-.6-1.45-.93A20.91,20.91,0,0,1,12.41,2a18,18,0,0,1,4.71,1.92,17.86,17.86,0,0,1,7.13,7.71,15.28,15.28,0,0,1,.92,2.64,12.11,12.11,0,0,0,.47,1.44,12.6,12.6,0,0,0,.9,1.8,2.39,2.39,0,0,0,.13.21,12.25,12.25,0,0,0,15.12,4.7l.14-.06c.58-.3,2.76-1.67.19-4.72-2.93-3.49,1.7-5.21,3-5.05,3.76.47,3.21,2.88,3,4.15C47.62,20.11,47,24.14,45,27.51Z"/></g></g></g></svg>
            </div>
            <h2 class="fs-1 text-center"><%=title%></h2>
            <p class="text-center"><%=description%></p>

            <%if(register){%>
                
                <div class="mb-3">
                    <label for="nombre">Nombre</label>
                    <input class="form-control rounded-pill" type="text" name="nombre" id="nombre">
                    <p class="small msg">Por favor, escribí tu nombre de usuario</p>
                </div>

                <%}%>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input class="form-control rounded-pill" type="email" name="email" id="email" placeholder="ejemplo@ejemplo">
                    <p class="small msg">Por favor, escribí tu correo</p>
                </div>

                <div class="mb-4">
                    <label for="contraseña">Contraseña</label>
                    <input class="form-control rounded-pill" type="password" name="contraseña" id="contraseña" placeholder="Elige una contraseña">
                    <p class="small msg">Por favor, escribí tu contraseña</p>
                </div>

                <%if(register){%>

                    <p class="mb-3 text-muted mx-3">Al registrarte confirmás tu mayoría de edad y manifestás tu conformidad con nuestros términos y condiciones de uso.</p>
                    
                    <div class="hstack">
                        <a  href="/" class="btn btn-link">CANCELAR</a>
                        <button class="btn btn-dark rounded-pill" type="submit" id="submit">ACEPTAR</button>
                    </div>

                    <%}else{%>

                        <div class="mt-5 hstack">
                            <a type="button" href="/" class="btn btn-link col">CANCELAR</a>
                            <button class="btn btn-dark rounded-pill col" type="submit">INICIAR SESIÓN</button>
                        </div>

                    <%}%>
        </form>
    </main>




    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
<script>
    const form = document.getElementById('form-1')
    function validacion (e){

        const inputEmail = document.getElementById("email")
        const pass = document.getElementById("contraseña")
        
        if(document.querySelector('.err')){
            let element = document.querySelectorAll('.err')
            for (let i = 0; i < element.length; i++) {
                element[i].classList.replace('err','msg');            
            }
        }
        if(document.getElementById("nombre")){
            const user = document.getElementById("nombre")
            emptyValid(user)
        }

        emptyValid(inputEmail)
        emptyValid(pass)
        function emptyValid(campo){
            if(campo.value===""){
                e.preventDefault()
                campo.focus()
                campo.nextElementSibling.classList.replace('msg','err')
            }
        }
    }
    form.addEventListener('submit', validacion);
</script>
</html>